:root {
  --color: #243746;
  --color-primary: #d1bd6c;
  --color-secondary: #0e2233;
  --bg: #f3f5f4;
  --bg-secondary: #fff;
  --border-color: #ddd;
  --bg-featured-color: #161616;
  --title-featured-color: #ebf4f1;
  --title-color: #0e2233;
  --title-dark-color: #fff;
  --text-featured-color: #76838d;
  --btn-border-black: #161616;
  --btn-border-white: #fff;
  --bg-masck: #16161667;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #d1bd6c;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
  --bg-featured-color: #10314c;
  --title-featured-color: #0fe195;
  --title-color: #0fe195;
  --title-dark-color: #0fe195;
  --text-featured-color: #ebf4f1;
  --btn-border-black: #d1bd6c;
  --btn-border-white: #d1bd6c;
  --bg-masck: #111812a1;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
  --btn-border-black: #433422;
  --btn-border-white: #fff;
  --title-color: #504231;
  --bg-masck: #43342287;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", Montserrat, sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}
